<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="start_page :: head"
      th:with="title='Products'"></head>

<body>
<div th:include="start_page :: head-nav" class="navbar navbar-inverse navbar-fixed-top headroom"></div>

<div class="col-lg-3">
    <label>Products</label>
</div>
<div class="col-lg-3">
    <label>Categories</label>
</div>
<div class="col-lg-3">
    <label>Users</label>
</div>
<div class="col-lg-3">
    <label>Orders</label>
</div>

<div th:include="start_page :: scripts"></div>
</body>
</html>