<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head"
      th:with="title='New product'"></head>
<body>
<div th:include="header :: head-nav" class="navbar navbar-inverse navbar-fixed-top headroom">

</div>
    <div align="center">
        <h1>Create new Product</h1>
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="newCategory" target="_blank">Add new category</a>
        <br/><br/>
        <br/>
        <span style="font-size: 16px; color: green;" th:text="${successMessage}"></span>
        <span style="font-size: 16px; color: #FF1C19;" th:text="${errorMessage}"></span>
        <form action="#" th:action="@{/saveProduct}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Product Name:</td>
                    <td>
                        <span style="font-size: 14px; color: #FF1C19;" th:text="${errProductName}"></span><br/>
                        <input class="form-control" type="text" name="product_name"/>
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>
                        <span style="font-size: 14px; color: #FF1C19;" th:text="${errProductPrice}"></span><br/>
                        <input class="form-control" type="text" name="price"/>
                    </td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td>
                        <select class="form-control" name="category">
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.nameCategory}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Discount:</td>

                    <td>
                        <span style="font-size: 14px; color: #FF1C19;" th:text="${errProductDiscount}"></span><br/>
                        <input class="form-control" type="text" name="discount"/>
                    </td>
                </tr>
                <tr>
                    <td>Discount:</td>
                    <td>
                        <label>
                            <textarea rows="10" cols="30" name="description"></textarea>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
<div th:include="header :: scripts"></div>
</body>
</html>